<%= render "shared/error", obj: @review %>
<div class="new_update_form">
  <%= form_for @review, html: { role: "form" } do |f| %>
    <div class="form-group">
      <label for="title_field">Tiêu đề</label>
      <%= f.text_field(:title, class: "form-control", id: "title_field") %>
    </div>
    <div class="form-group">
      <label for="author_field">Tác giả</label>
      <%= f.text_field(:author, class: "form-control", id: "author_field") %>
    </div>
    <div class="form-group">
      <label for="description_field">Mô tả</label>
      <%= f.text_field(:description, class: "form-control", id: "description_field") %>
    </div>
    <div class="form-group">
      <label for="preview_image_field">Ảnh</label>
      <%= f.text_field(:preview_image, class: "form-control", id: "preview_image_field") %>
    </div>
    <div class="form-group">
      <label>Thể loại</label><br>
      <%= f.collection_check_boxes :category_ids, Category.all, :id, :title do |cb| %>
        <% cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") + cb.text} %>
      <% end %>
    </div>
    <div class="form-group">
      <label for="content_field">Review</label>
      <%= f.cktext_area(:content, class: "form-control", id: "content_field", rows: "8") %>
    </div>
    <%= f.submit "Tạo", class: "btn btn-default" %>
  <% end %>
</div>