<%= render "shared/error", obj: @review %>
<div class="new_update_form">
  <%= form_for @review, html: { role: "form" } do |f| %>
    <div class="form-group">
      <%= f.label :title, "Tiêu đề" %>
      <%= f.text_field(:title, class: "form-control", id: "title_field") %>
    </div>
    <div class="form-group">
      <%= f.label :author, "Tác giả" %>
      <%= f.text_field(:author, class: "form-control", id: "author_field") %>
    </div>
    <div class="form-group">
      <%= f.label :description, "Mô tả" %>
      <%= f.text_field(:description, class: "form-control", id: "description_field") %>
    </div>
    <div class="form-group">
      <%= f.label :preview_image, "Ảnh" %>
      <%= f.text_field(:preview_image, class: "form-control") %>
    </div>
    <div class="form-group">
      <label>Thể loại</label><br>
      <%= f.collection_check_boxes :category_ids, Category.all, :id, :title do |cb| %>
        <% cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") + cb.text} %>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label :content, "Review" %>
      <%= f.cktext_area(:content, class: "form-control", rows: "8") %>
    </div>
    <%= f.submit "Tạo", class: "btn btn-default" %>
  <% end %>
</div>